fastapi==0.115.0
uvicorn[standard]==0.30.0
python-multipart==0.0.9
opencv-python-headless==4.10.0.84
numpy>=1.26.4
Pillow==10.4.0
requests==2.32.3
cloudinary==1.40.0
python-dotenv==1.0.1
torch>=2.3.1
torchvision>=0.18.1
git+https://github.com/facebookresearch/sam2.git
